 /*Navbar*/
 .navbar-center{
  position: absolute;
  width: 70px;
  height:60px; 
  left: 50%;
  transform: translatex(-50%);
}
.site-name{
  margin-left: 2%;
}
   /*Client Form*/
  #img{
    margin-top: 10%;
  }
  .card-body img{
    width: 40px;
    height: 40px;
  }
  .info{
    background: rgb(208, 222, 204);
  }
  #title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }
  .form{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 8%;
    padding-bottom: 5%;
  }
  .contact{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 40px;
      font-weight: bold;
      margin-left: 8%;
      margin-top: 2px;
  }
  /* Full-width input fields */
  input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
 /*footer-*/
 #footer{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.sosial a{
  text-align: right;
  margin: 1%;
  
}
.sosial img{
  border-radius: 50%;
}
#link { 
  color: white;
  font-weight: bold;
  margin: 9%;
}
a > img{
  width: 40px;
  height: 40px;
}

/* For mobile */
@media only screen and (max-width:426px) and (min-width: 120px) {
    
  /* navbar */
 .navbar-center{
   width: 30px;
   height: 30px; 
   left: 2px;
   transform: translatex(0);
 }
 #menu > ul > li > a{
   font-size: 13px;
 }
 .site-name{
   margin-left:7%;
   font-size: 15px;
  }

  /* Site Content */
  .form{
    padding-top: 14%;
  }
  #img{
    margin-top: 4px;
  }
  #img u{
    font-size: 12px;
  }
  .card-body img{
    width: 20px;
    height: 20px;
  }
  #title{
    font-size: 20px;
    }
  #text{
     font-size: 12px;
    }
  .col-md-8{
    font-size: 15px;
  }
  .contact{
    font-size: 25px;
    margin-left: 8%;
    margin-top: 4%;
  }
 /* Footer */
 .footer-copyright{
   font-size: 12px;
    display: grid;
 }
 .sosial a{
   text-align: center;
   margin: 0; 
 }
 #link{
   font-size:14px;
   font-weight: normal;
   display: grid;
   text-align: center;
 }

 a > img{
   width: 30px;
   height: 30px;
   margin-right: 4px;
   margin-top: 0;

}
}

/* For mobile */
@media only screen and (max-width:1024px) and (min-width:426px) {

/*Navbar*/
.navbar-center{
 width: 40px;
 height: 38px; 
 left: 2px;
 transform: translatex(0);
}
#menu > ul > li > a{
 font-size: 18px;
}
.site-name{
 margin-left:4%;
 font-size: 18px;
}

/* Site Content */
#title{
  font-size: 22px;
  }
#text{
  font-size: 15px;
  }
  .contact{
    font-size: 30px;
    margin-left: 8%;
  }
  #img u{
    font-size: 13px;
  }
  .card-body img{
    width: 22px;
    height: 22px;
  }
/*Footer*/
.sosial a{
   text-align: left;
   margin: 0; 
 }
#link{
 font-size:16px;
 font-weight: bold;
 margin: 6px;
 text-align: left;
}

a > img{
 width: 30px;
 height: 30px;
}
}

 