body {
  position: relative;
}
/*Navbar*/
.navbar-center{
  position: absolute;
  width: 70px;
  height:60px; 
  left: 50%;
  transform: translatex(-50%);
}
.site-name{
  margin-left: 2%;
}
/*navbar*/


#category a{
  color:black;
  font-weight: bold;
  text-align: left;
  font-size: 15px;
}

#category a:hover
      {
  color: blue; 
}
.main{
  margin-top: 4%;
  padding: 20px;
}

.btn > img{
  width: 550px;
  height: 450px;
}
/* Modal Content */
#modal-content {
  text-align: justify;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}
/* The Close Button */
.close{
  color:#000;
  float: right;
  text-align: center;
  margin-top: -18px;
  margin-right: -18px;
  width: 30px;
  height: 30px;
  font-size: 28px;
  font-weight: bold;
 
}

.close:hover,
.close:focus {
  color: rgb(165, 7, 7);
  text-decoration: none;
  cursor: pointer;
}
/* The Modal-1 , 2 (background) */
#myModal_1, 
#myModal_2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*footer-*/
#footer{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.sosial a{
  text-align: right;
  margin: 2%;
  
}
.sosial img{
  border-radius: 50%;
}
#link { 
  color: white;
  margin: 5%;
  text-transform: capitalize;
}
a > img{
  width: 40px;
  height: 40px;

}

/* For mobile */
@media only screen and (max-width:426px) and (min-width: 120px) {
    
  /* navbar */
 .navbar-center{
  position: unset; 
  width: 30px;
  height: 30px; 
  left: 50%;
  transform: translatex(-50%);
   
 }
 #nav-menu {
   display: none;
 }
 #nav-menu > ul > li > a{
   font-size: 13px;
   margin-left:4%;
   float: left;
 }
 .site-name{
   margin-left:4%;
   font-size: 15px;
  }
/* content */
  #category {
  text-align: center;
  display: inline-flex;
  }
  #category a {
    margin-right: 16px;
    margin-left: 16px;
    }

/* Footer */
#footer{
  margin: 0px;
  padding: 0px;
  width: 620px;
}
.footer-copyright{
   font-size: 8px;
   display: grid;
}
.sosial a{
  text-align: center;
  margin: 0; 
}
#link{
  font-size:14px;
  font-weight: normal;
  display: grid;
  text-align: center;
}

a > img{
  width: 30px;
  height: 30px;
  margin-right: 4px;
  margin-top: 0;

}
}

/* For notebook */
@media only screen and (max-width:1023px) and (min-width:426px) {

/*Navbar*/
.navbar-center{
position: unset; 
width: 40px;
height: 38px; 
}
#nav-menu {
  display: none;
}
#nav-menu > ul > li > a{
font-size: 16px;
float: left;
margin-left: 4%;
}
.site-name{
margin-left:4%;
font-size: 16px;
}

/*Footer*/
.sosial a{
  text-align: left;
  margin: 0; 
}
#link{
font-size:14px;
font-weight: bold;
margin: 6px;
text-align: left;
}

a > img{
width: 30px;
height: 30px;
}
}